/* Base styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header styles */
.header {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__photo {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.header__title {
  margin: 5px 0;
  font-size: 2em;
}

.header__role {
  margin: 0;
  font-style: italic;
}

/* Skills styles */
.skills {
  background-color: #f4f4f4;
  padding: 20px;
}

.skills__title {
  text-align: center;
  margin-bottom: 20px;
}

.skills__list {
  list-style-type: none;
  padding: 0;
}

.skills__item {
  text-align: center;
  margin-bottom: 10px;
}

/* Experience styles */
.experience {
  padding: 20px;
}

.experience__title {
  text-align: center;
  margin-bottom: 20px;
}

.experience__item {
  margin-bottom: 20px;
}

/* Education styles */
.education {
  background-color: #f4f4f4;
  padding: 20px;
}

.education__title {
  text-align: center;
  margin-bottom: 20px;
}

/* Projects styles */
.projects {
  padding: 20px;
  background-color: #f4f4f4;
}

.projects__title {
  text-align: center;
  margin-bottom: 20px;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  flex: 1;
  min-width: 280px; /* Minimum width of each card */
  max-width: 320px; /* Maximum width of each card */
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project__name {
  margin: 0;
}

.project__link {
  color: #4caf50;
  font-weight: bold;
  text-decoration: none;
}

.project__link:hover {
  text-decoration: underline;
}

.project__description {
  margin-top: 5px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer__content {
  margin-bottom: 10px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .header__content {
    flex-direction: column;
  }

  .skills__item,
  .experience__item,
  .education__item,
  .projects__item {
    text-align: left;
  }
}
