@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  background-color: #fff; /* Dark Navy Blue */
  color: #020c1b;
  margin: 0 auto; /* Center the element horizontally */
  padding: 20px;
  align-items: center;
  /* transition: background-color 0.3s ease;  Add transition effect */
  opacity: 0; /* Set initial opacity to 0 */
  animation: fade-in 1s forwards; /* Apply fade-in animation */
}

.about__content {
  margin: 0 auto; /* Center the element horizontally */
  width: 80%;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  height: 100%;
}

.about__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-size: 2em;
}

.about__photo {
  width: 50%;
  height: auto;
  margin: 0 auto; /* Center the element horizontally */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.about__description {
  margin: 0 auto; /* Center the element horizontally */
  padding: 10px;
  font-weight: lighter;
}

.about__description:last-child {
  margin-left: 0;
}

/*media queries*/

@media screen and (max-width: 768px) {
  .about__content {
    flex-direction: column;
  }

  .about__photo {
    width: 100%;
  }

  .about__description-container {
    max-width: 100%;
  }
}
