@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  background-color: #9e833a;
  margin: 0 auto; /* Center the element horizontally */
  margin-bottom: 15px;
  align-items: center;
  transition: background-color 0.3s ease; /* Add transition effect */
  opacity: 0; /* Set initial opacity to 0 */
  animation: fade-in 1s forwards; /* Apply fade-in animation */
}

.about__title {
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.about__description {
  margin: 0 auto; /* Center the element horizontally */
  width: 80%;
  font-size: 16px;
  color: rgb(255, 247, 5);
  padding: 10px;
}

.about__description:hover {
  background-color: #9e833a; /* Change background color on hover */
}
