@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  position: relative; /* Needed to position the pseudo-element */
  background-image: url("../images/about-image.jpeg"); /* Set the about photo as background */
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background image */
  color: #020c1b;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  display: flex; /* Changed to flex to use justify-content and align-items */
  justify-content: center; /* Align content horizontally */
  flex-direction: column; /* Align content vertically */
  animation: fade-in 1s forwards;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  z-index: -1; /* Ensure it's behind the content */
}

.about__content {
  color: #fff; /* White text color */
  margin: 0 auto; /* Center the element horizontally */
  width: 80%;
  padding: 60px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1; /* Ensure content is above the overlay */
}

.about__title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff; /* White text color for the title */
}

/* Removed .about__photo class as it may no longer be needed */

.about__description {
  margin: 0 auto; /* Center the element horizontally */
  padding-top: 10px;
  font-weight: lighter;
}

.about__learn-more {
  padding: 10px 20px;
  background-color: #00af91; /* Example button color */
  color: #fff; /* Button text color set to white */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px auto 0; /* Center the button with margin */
  display: block; /* Changed to block to enable horizontal centering */
  width: max-content;
}

.about__learn-more:hover {
  background-color: #c43d1f;
}

/* Ensure your media queries remain unchanged */

/*media queries*/

@media screen and (max-width: 768px) {
  .about__content {
    flex-direction: column;
    padding: 10px;
  }
  .about__photo {
    margin: 0;
  }

  .about__description-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .about__content {
    padding: 0;
  }
  .about__description {
    font-size: 14px;
  }
}
