/* Contact Section Styles */
.contact {
  background-color: rgb(233, 231, 231);
  padding: 40px;
  text-align: center;
}

.contact__title {
  color: #020c1b;
  font-size: 2em;
  margin-bottom: 20px;
}

.contact__description {
  color: #020c1b;
  margin: 0 auto;
  margin-bottom: 40px;
}

.contact__form {
  color: #020c1b;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact__submit {
  background-color: #00af91;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact__submit:hover {
  background-color: #ff9800;
}

/* Media Queries */
@media screen and (max-width: 420px) {
  .contact {
    padding: 20px;
  }
  .contact__form {
    padding-right: 20px;
  }
  .contact__title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .contact__description {
    text-align: left;
  }
}
