/* Education Section */
.education {
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 8px;
  max-width: 800px;
}

.education__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.accordion__list-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Accordion Item */
.accordion__item {
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Accordion Button */
.accordion__button {
  background-color: #786b2b; /* Dark gold color */
  color: white;
  padding: 10px;
  border: none;
  line-height: 1.5;
  width: 100%;
  text-align: left;
  cursor: pointer;
  justify-content: space-between; /* Spread content evenly */
  align-items: center;
  border-radius: 5px; /* Matched with item border-radius */
}

.accordion__button:hover {
  background-color: #9a823b; /* Lighter gold on hover */
}

.accordion__button:after {
  display: flex;
  content: "\002B"; /* Unicode character for '+' sign */
  color: white;

  font-weight: bold;
  margin-left: auto;
}

.accordion__button.active:after {
  content: "\2212"; /* Unicode character for '-' sign */
}

/* Accordion Content */
.accordion__content {
  padding-left: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  border-radius: 5px; /* Matched with item border-radius */
}

.education__description {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.5;
}

/* Institution, Certificate, and Duration */
.education__institution,
.education__certificate,
.education__duration {
  font-weight: bold;
  display: block; /* Make each element take a full line */
}

.education__duration {
  font-style: italic;
  color: #ccc;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .education__title {
    font-size: 1.5em; /* Smaller font size for the title */
  }

  .accordion__button {
    flex-direction: column; /* Stack the items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
  }

  .education__duration {
    font-size: 0.8em; /* Smaller font size for duration */
  }

  .education__description {
    font-size: 0.8em; /* Smaller font size for descriptions */
  }
}
