@keyframes pulse {
  to {
    transform: scale(1);
    opacity: 0.7;
  }
}

/* Base Header Styles */
.header {
  margin-bottom: 20px;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 2em;
  margin-bottom: 10px;
}

/*
.header:hover {
  background-color: #9a823b;
}
*/

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Aligned in a row */
  margin-bottom: 15px;
}

/* Header Photo Styles */
.header__photo {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin: 15px 30px 15px 0; /* Combined margin properties */
}

/* Header Title Styles */
.header__title {
  color: rgb(248, 213, 60);
  margin: 5px 0;
  font-size: 2em;
  letter-spacing: 1px;
}

.header__role {
  color: rgb(249, 171, 87);
  margin: 5px 0;
  letter-spacing: 1px;
}

/* Responsive Design for Header */
@media (max-width: 600px) {
  .header {
    padding: 10px;
    font-size: 1.2em;
  }
}
