@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes pulse {
  to {
    transform: scale(1);
    opacity: 0.7;
  }
}

/* Base Header Styles */
.header {
  margin-bottom: 20px;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 2em;
  margin-bottom: 10px;
}

/*
.header:hover {
  background-color: #9a823b;
}
*/

.header__content {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 15px;
}

/* Header Photo Styles */
.header__photo {
  margin: 0 auto; /* Center the element horizontally */
  width: 250px;
  height: auto;
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Header Title Styles */
.header__title {
  color: white;
  margin: 5px 0;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.header__role {
  color: #b0b0b0; /* Soft Grey */
  margin: 5px 0;
  letter-spacing: 1px;
}

.header-languages__content {
  margin: 0 auto; /* Center the element horizontally */
  max-width: 800px;
  line-height: 1;
}

.languages__title {
  margin-bottom: 20px;
  font-size: 2em;
}

.languages__list {
  padding: 20px;
  padding: 0;
  margin: 0 auto; /* Center the element horizontally */
  max-width: 600px;
  font-size: 0.8em;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 1s ease-in-out;
}

.language span {
  margin-right: 10px;
}

.language:last-child {
  grid-column: span 2;
  text-align: center;
}

.flag-icon {
  font-size: 1.2em;
}

.progress {
  width: 70%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Add inner shadow for depth */
}

.progress__bar {
  background-color: #00af91; /* Bright Teal */
  height: 100%;
  border-radius: 10px;
  transition: width 0.4s ease-in-out; /* Add transition for smooth width change */
}

.progress__bar--english,
.progress__bar--french,
.progress__bar--spanish,
.progress__bar--haitian-creole {
  width: 100%;
}

.progress__bar--brazilian-portuguese {
  width: 50%;
}

.language:hover .progress__bar {
  width: 80%;
}

@media (max-width: 768px) {
  .language {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .progress {
    width: 100%;
  }

  flag-icon {
    font-size: 2em; /* Smaller flags for mobile devices */
  }

  .header-languages__content {
    width: 60%;
  }
}

/* Responsive Design for Header */

@media screen and (max-width: 768px) {
  .header__content {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 10px;
    font-size: 1.2em;
  }
  .header__role {
    font-size: 0.8em;
  }
  .languages__list {
    font-size: 1.2em;
  }
}
