@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.languages {
  margin: 0 auto; /* Center the element horizontally */
  width: 80%;
  color: white;
  text-align: center;
  align-items: center;
}

.languagues__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.languages__title {
  margin-bottom: 20px;
  font-size: 2em;
}

.languages__list {
  display: block;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 1s ease-in-out;
}

.language span {
  margin-right: 10px;
}

.language:last-child {
  grid-column: span 2;
  text-align: center;
}

.flag-icon {
  font-size: 3em; /* Increase the size of the flag emoji */
  margin-right: 10px; /* Adjust margin as needed */
}

.progress {
  width: 70%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Add inner shadow for depth */
}

.progress__bar {
  height: 100%;
  border-radius: 10px;
  transition: width 0.4s ease-in-out; /* Add transition for smooth width change */
}

.progress__bar--english,
.progress__bar--french,
.progress__bar--spanish,
.progress__bar--haitian-creole {
  width: 100%;
  background-color: #9a823b;
}

.progress__bar--brazilian-portuguese {
  width: 50%;
  background-color: #9a823b;
}

.language:hover .progress__bar {
  width: 80%;
}

.progress__bar--english {
  background-color: #4caf50; /* Green */
}

.progress__bar--french {
  background-color: #2196f3; /* Blue */
}

.progress__bar--spanish {
  background-color: #ff9800; /* Orange */
}

.progress__bar--haitian-creole {
  background-color: #9c27b0; /* Purple */
}

.progress__bar--brazilian-portuguese {
  background-color: #f44336; /* Red */
}

@media (max-width: 768px) {
  .language {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .progress {
    width: 100%;
  }

  flag-icon {
    font-size: 2em; /* Smaller flags for mobile devices */
  }
}
