.logo-container {
  text-align: left;
  padding: 50px 0;
}

.logo {
  max-width: 200px; /* Adjust based on your preference */
  opacity: 0.8; /* Starting opacity */
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 1; /* Full opacity on hover */
}
