.navbar {
  position: sticky;
  top: 0;
  display: flex;
  padding-right: 15px;
  justify-content: flex-end;
  background-color: #a67f11;
  color: #fff;
  z-index: 1000; /* Add this */
}

.hamburger {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: #fff;
  margin-left: auto; /* Push the hamburger to the right */
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1em;
  text-decoration: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.6em;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    right: 0; /* Add this */
    top: 100%; /* Add this */
    display: none;
    flex-direction: column; /* Stack the menu items vertically */
    align-items: flex-end; /* Align the menu items to the right */
    padding-right: 1em;
  }

  .nav-link {
    color: green;
    font-weight: bold;
  }

  .nav-menu.show {
    display: flex;
  }
}
