/* Projects styles */
.projects {
  background-color: #a67f11;
  color: white;
  padding: 20px;
}

.projects__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  flex: 1;
  min-width: 280px; /* Minimum width of each card */
  max-width: 320px; /* Maximum width of each card */
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.project__name {
  margin: 0;
}

.project__link {
  color: #d9a50a;
  font-weight: bold;
  text-decoration: none;
}

.project__link:hover {
  text-decoration: underline;
}

.project__description {
  margin-top: 5px;
  color: #ffffff;
}
