@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills {
  padding: 20px;
  text-align: center;
}

.skills--visible {
  animation: fadeIn 1s ease-out forwards;
}

.skills__title {
  background-color: #020c1b;
  margin-bottom: 1em;
  font-size: 2em;
}

.skills-list__items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__icon {
  font-size: 3rem; /* Large size for icons */
  margin-bottom: 0.5em;
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-size: 3rem; /* Larger size for icons */
}

.skills__icon:hover {
  transform: scale(1.2); /* Icons grow bigger on hover */
}
.skills__item-title {
  color: white;
  font-size: 1rem; /* Adjust as necessary */
}

/* CSS for Icons with Brand Colors */

.skills__icon.fa-html5 {
  color: #e34c26; /* HTML5 Brand Color */
}

.skills__icon.fa-css3-alt {
  color: #1572b6; /* CSS3 Brand Color */
}

.skills__icon.fa-square-js, /* If 'fa-square-js' does not exist, replace with 'fa-js' */
.skills__icon.fa-js {
  color: #f7df1e; /* JavaScript Brand Color */
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); /* JS icon may need a shadow for contrast */
}

.skills__icon.fa-github {
  color: #e1dddd;
}

.skills__icon.fa-git {
  color: #f34f29; /* Git Brand Color */
}

.skills__icon.fa-cloud {
  color: #3582b5; /* Generic Cloud/API Color, adjust as preferred */
}

.skills__icon.fa-code {
  color: #007acc; /* VS Code Brand Color, adjust as needed */
}

/* Figma icon color */
.skills__icon.fa-figma {
  color: #f24e1e; /* Figma Brand Color */
}

/* Adjustments for tablet screens */
@media (max-width: 768px) {
  .skills__grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
  .skills-list__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
